[submodule "Backend"]
	path = Backend
	url = https://github.com/OrganicPortal/OrganicPortalBackend.git
[submodule "SmartContract"]
	path = SmartContract
	url = https://github.com/OrganicPortal/OrganicPortaPprograms.git
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/OrganicPortal/OrganicPortalFrontend.git
